@media (min-width: 1900px){
    .header1{
        max-width: 1820px;
    }
}


.left-nav{
    max-width: 1480px; width: 100%; margin-left: 50px;
}
.navbar-nav{
    display: block;
}
.navbar-nav:after{
    display: block; content: ''; visibility: hidden; clear: both;
}
.navbar-nav li{
    float: left; width: 15%;
}
