@media (min-width: 1900px){
    .header1{
        max-width: 1820px;
    }
}

.header2{
    max-width: 1920px; background: #34383c; width: 100%;
}
.adminIstrator{
    color: white; justify-content: center !important; font-size: 18px; margin-left: 30px;
}
.adminIstrator span{
    color: #03a9f5;
}
.left-nav{
    max-width: 1480px; width: 75%; margin-left: 50px;
}
.navbar-nav{
    display: block;
}
.navbar-nav:after{
    display: block; content: ''; visibility: hidden; clear: both;
}
.navbar-nav li{
    float: left; width: 10%; text-align: center; border-left: 1px solid #888;
}
.navbar-nav li:last-child{
    border-right: 1px solid #888;
}
.navbar-nav li a{
    font-size: 16px !important;
}
.left-nav .nav-item a{
    color: #fff; font-weight: normal; padding: 15px 0;
}
.left-nav .nav-item.active a{
    color: #03a9f5;
}
.header2 .dropdown-toggle::after {
    display: none;
}
.header2 .Azone::after{
    display: block; content: ''; visibility: hidden; clear: both;
}
.header2 .Azone div{
    float: left; width: 50%;
}
.header2 .Azone a{
    margin-left: 20px; text-decoration: none; color: #fff;
}
