.col-2{
    display: none;
}
.col-10{
    width: 100%;
}
@media screen and (max-width: 280px){
    .main-0 .ms-2{
        font-size: 10px;
    }
    .main-0 .ms-2{
        font-size: 10px !important;
    }
    .Main3Div > p:first-child {
        font-size: 14px !important;
    }
    .Main3Div > p:nth-child(2) {
        font-size: 12px !important;
        margin-bottom: 60px !important;
    }
    .Main3Div figure figcaption p:first-child{
        font-weight: 300 !important;
    }
    .Main3Div figure figcaption p:first-child{
        font-size: 30px !important;
    }
    .Main3Div figure figcaption p:last-child{
        font-size: 14px !important; line-height: 25px !important;
    }
    .main-4 .text-30 {
        font-size: 17px !important;
    }
    .main-4 .contents article .row {
        height: 360px !important;
    }
}

@media screen and (max-width: 700px){
    .topBanner{
        display: none;
    }
    .logoCenter{
        justify-content: center !important;
    }
    .main-0{
        box-shadow: none; background:url(http://localhost:8080/img/main_banner.5bb231f0.png) no-repeat;
        height: 590px;  
    }
    .main-0 .text-white{
        padding: 60px 0 40px;
    }
    .main-0 .ms-2{
        font-size: 14px;
    }
    .main-0 .m-ConappBtn{
        background: #00eadc; font-weight: bold; font-size: 24px;  border-radius: 30px;
    }
    .main-0 .m-ConappBtn:hover{
        background: #5c636a !important;
    }
    .valibox{
        padding: 10% 10% 90px;
    }
    .main-1{
        padding-top: 14rem;
    }
    .main-2 .m-2{
        font-size: 13px !important;
    }
    .Main3 figure:last-child{
        margin-bottom: 90px;
    }
    .Main3Div{
        max-width: 1200px; margin: 90px auto 0; width: 100%; padding: 0 15px;
    }
    .Main3Div div{
        width: 100%;
    }
    .Main3Div > p:first-child{
        font-size: 18px; font-weight: bold; margin-bottom: 40px; text-align: center;
    }
    .Main3Div > p mark{
        background: none; color: #0DCAF0;
    }
    .Main3Div > p:nth-child(2){
        font-size: 15px; margin-bottom: 80px; text-align: center;
    }
    .Main3Div figure figcaption p:first-child{
        font-size: 35px; font-weight: bold; margin-bottom: 45px;
    }
    .Main3Div figure{
        text-align: center;
    }
    .Main3Div figure img{
        width: 70%;
    }
    .Main3Div figure .main3_bar{
        display: block; border: 1px solid #000; width: 70%; margin-bottom: 60px;
    }
    .Main3Div figure .main3_bar{
        margin-left: 15%;
    }
    .Main3Div figure figcaption p:last-child{
        font-size: 18px; line-height: 30px;
    }
    .main-4 > div{
        background: rgba(0, 0, 0, 0.2);
    }
    .main-4 .row{
        display: block;
    }
    .main-4 .col{
        margin-bottom: 20px;
    }
    .main-4 .text-40{
        font-size: 24px;
    }
    .main-4 .contents-text{
        color: #fff; width: 100%; text-align: center;
    }
    .main-4 .mx-2{
        font-size: 10px;
    }
    .main-4 .text-30{
        font-size: 22px;
    }
    .main-4 .text-20 {
        font-size: 16px !important;
    }
    .main-4 .main4-btn{
        margin-bottom: 30px;
    }
    .main-4 .bg-img img{
        width: 100%;
    }
    .bottomText{
        background-color: #565656; text-align: center; vertical-align: middle; max-width: 1400px; width: 100%;
    }
    .bottomText div:first-child{
        line-height: 100px;
    }
    .bottomText div p{
        font-size: 18px; font-weight: bold; color: #fff; line-height: 30px; padding-top: 25px; margin-bottom: 0;
    }
    .bottomText div p mark{
        background: none; color: #fff; font-size: 30px;
    }
    .bottomText > div > div{
        height: 100px;
    }
    .bottomText div div button{
        border: 1px solid #07D6FF; border-radius: 30px; line-height: 40px; width: 50%;
        font-size: 16px; font-weight: bold; color: #fff; background: #00EADC;
    }
    .bottomText div div button:hover{
        background: #5c636a; transition-duration: 0.5s;
    }
    .col-lg-4{
        width: 0; flex: 0;
    }
}

@media screen and (min-width: 700px) and (max-width: 1279px) {
    .topBanner{
        display: none;
    }
    .logoCenter{
        justify-content: center !important;
    }
    .main-0{
        box-shadow: none;
        /* background:url(http://localhost:8080/img/main_banner.5bb231f0.png) no-repeat; */
        height: 590px;
    }
    .main-0 .text-white{
        padding: 60px 0 40px;
    }
    .main-0 .m-ConappBtn{
        background: #00eadc; font-weight: bold; font-size: 24px;  border-radius: 30px;
    }
    .main-0 .m-ConappBtn:hover{
        background: #5c636a !important;
    }
    .main-2 .logo_banner {
        background-position: 0;
        background-size: 1858px;
        background-repeat: repeat-x;
        animation: moveBg 20s linear infinite;
    }
    .main-0 .ms-2{
        font-size: 13px;
    }
    .valibox{
        padding: 10% 10% 90px;
    }
    .main-1{
        padding-top: 14rem;
    }
    .Main3 figure:last-child{
        margin-bottom: 90px;
    }
    .Main3Div{
        max-width: 1200px; margin: 90px auto 0; width: 100%; padding: 0 15px;
    }
    .Main3Div div{
        width: 100%;
    }
    .Main3Div > p:first-child{
        font-size: 21px; font-weight: bold; margin-bottom: 40px; text-align: center;
    }
    .Main3Div > p mark{
        background: none; color: #0DCAF0;
    }
    .Main3Div > p:nth-child(2){
        font-size: 18px; margin-bottom: 80px; text-align: center;
    }
    .Main3Div figure figcaption p:first-child{
        font-size: 35px; font-weight: bold; margin-bottom: 45px;
    }

    .Main3Div figure{
        text-align: center;
    }
    .Main3Div figure img{
        width: 70%;
    }
    .Main3Div figure .main3_bar{
        display: block; border: 1px solid #000; width: 70%; margin-bottom: 60px;
    }
    .Main3Div figure .main3_bar{
        margin-left: 15%;
    }
    .Main3Div figure figcaption p:last-child{
        font-size: 18px; line-height: 30px;
    }
    .main-4 > div{
        background: rgba(0, 0, 0, 0.2);
    }
    .main-4 .row{
        display: block;
    }
    .main-4 .contents-text{
        color: #fff; width: 100%; text-align: center; margin-bottom: 20px !important;
    }
    .main-4 .main4-btn{
        margin-bottom: 30px;
    }
    .main-4 .bg-img img{
        width: 100%; height: 330px;
    }
    .bottomText{
        background-color: #565656; text-align: center; vertical-align: middle; 
        max-width: 1920px; width: 100%;
    }
    .bottomText div:first-child{
        width: 95%; display: flex; justify-content: center; align-items: center;
        line-height: 100px;
    }
    .bottomText div p{
        font-size: 25px; font-weight: bold; color: #fff; line-height: 40px; padding-top: 16px;
    }
    .bottomText div p mark{
        background: none; color: #fff; font-size: 40px;
    }
    .bottomText div div button{
        border: 1px solid #07D6FF; border-radius: 30px; line-height: 40px; width: 100%;
        font-size: 22px; font-weight: bold; color: #fff; background: #00EADC;
        margin-left: 30px;
    }
    .bottomText div div button:hover{
        background: #5c636a; transition-duration: 0.5s;
    }
    .col-lg-4{
        width: 0; flex: 0;
    }
}

@media screen and (min-width: 1280px){
    /* .main-0{
        background:url(http://localhost:8080/img/main_banner.5bb231f0.png) no-repeat;
    } */
    .m-ConappBtn{
        background: #00eadc; font-weight: bold; font-size: 24px; border-radius: 30px; 
      }
    .m-ConappBtn:hover{
        background-color: #6c757d;
    }
    .Main3Div{
        max-width: 1440px; margin: 90px auto 0; 
    }
    .Main3Div div{
        width: 100%;
    }
    .Main3Div > p:first-child{
        font-size: 38px; font-weight: bold; margin-bottom: 60px; text-align: center;
    }
    .Main3Div > p mark{
        background: none; color: #0DCAF0;
    }
    .Main3Div > p:nth-child(2){
        font-size: 20px; margin-bottom: 10px; text-align: center;
    }

    .Main3Div figure{
        display: flex; align-items: center;
    }
    .Main3Div figure figcaption p:first-child{
        font-size: 35px; font-weight: bold; margin-bottom: 45px;
    }
    .Main3Div figure:nth-child(2n-1){
        text-align: right; order: 1;
    }

    .Main3Div figure:nth-child(2n-1) img{
        order: 1;
    }

    .Main3Div figure .main3_bar{
        display: block; border: 1px solid #000; width: 70%; margin-bottom: 60px;
    }
    .Main3Div figure:nth-child(odd) .main3_bar{
        margin-left: 30%; 
    }
    .Main3Div figure figcaption p:last-child{
        font-size: 18px; line-height: 30px;
    }
    .Main3 figure:last-child{
        margin-bottom: 90px;
    }
    .main-4 > div{
        background: rgba(0, 0, 0, 0.2);
    }
    .main-4 .contents-text{
        color: #fff; 
    }
    .bottomText{
        max-width: 1920px; width: 100%;
        background-color: #565656; text-align: center; vertical-align: middle;
    }
    .bottomText div:first-child{
        width: 77%; display: flex; justify-content: center; align-items: center;
        background: url(./../images/bottomBanner.fa9716d9.svg) no-repeat right top;
        line-height: 100px;
    }
    .bottomText div p{
        font-size: 25px; font-weight: bold; color: #fff; line-height: 40px; padding-top: 16px;
    }
    .bottomText div p mark{
        background: none; color: #fff; font-size: 40px;
    }
    .bottomText div div button{
        border: 1px solid #07D6FF; border-radius: 30px; line-height: 40px; width: 100%;
        font-size: 22px; font-weight: bold; color: #fff; background: #00EADC;
        margin-left: 30px;
    }
    .bottomText div div button:hover{
        background: #5c636a; transition-duration: 0.5s;
    }
    .col-lg-4{
        width: 0; flex: 0;
    }
}