.number-page table tr:hover{
    background: #E5FAFF;
}



@media screen and (min-width: 700px) and (max-width: 1279px){
    .number-page{
        margin-top: 90px;
    }
    .number-page [class ^= 'tbox']{
        float: left; box-sizing: border-box;
    }
    .number-page [class ^='tbox'] tbody tr{
        border-bottom: 1px solid #78C5D6;
    }
    .number-page [class ^= 'tbox'] td{
        font-size: 18px; text-align: center; line-height: 50px;
    }
    .number-page [class ^= 'tbox'] td input{
        border: none;
    }
    .number-page thead tr th{
        background: #78C5D6; line-height: 50px; color: #fff; text-align: center;
        font-size: 22px; box-sizing: border-box;
    }
    .thRadiusL{
        border-radius: 15px 0 0 0;
    }
    .thRadiusR{
        border-radius: 0 15px 0 0;
    }
    .number-page .tbox1{
        margin-right: 15px; position: relative;
    }
    .number-page .PMbtnBox{
        position: absolute; top: 59px; right: -55px;
    }
    .number-page .PMbtnBox input:first-of-type{
        border: 1px solid #0094FF; width: 40px; line-height: 36px; font-size: 18px; box-sizing: border-box;
        background: none; border-radius: 10px; color: #0094FF; margin-bottom: 10px;
    }
    .number-page .PMbtnBox input:first-of-type:hover{
        background: #0094FF; color: #fff; box-sizing: border-box;
    }
    .number-page .PMbtnBox input:last-of-type{
        border: 1px solid #FF0000; width: 40px; line-height: 36px; font-size: 18px; box-sizing: border-box;
        background: none; border-radius: 10px; color: #FF0000; 
    }
    .number-page .PMbtnBox input:last-of-type:hover{
        background: #FF0000; color: #fff; box-sizing: border-box;
    }
    .number-page .tbox1 .NumTable1 thead tr th:first-child{
        max-width: 150px; width: 100%; border-right: 1px solid #fff;
    }
    .number-page .tbox1 .NumTable1 thead tr th:last-child{
        width: 174px;
    }
    .lookup{
        width: 207px; border-right: 1px solid #fff;
    }
    .phoneNum{
        width: 190px;
    }
    .number-page .tbox2{
        position: relative; padding: 90px 0;
    }
    .number-page .tbox2 input{
        position: absolute; top: 40px; right: 0; border: 1px solid #0094FF; width: 109px; height: 40px;
        background: none; border-radius: 15px; font-size: 18px; box-sizing: border-box;
    }
    .number-page .tbox2 input:hover{
        background: #0094FF; color: #fff; box-sizing: border-box;
    }
    .number-page .tbox2 .NumTable2 thead tr th{
        border-bottom: 1px solid #fff;
    }
    .number-page .tbox1 .NumTable1 tbody tr td:not(:first-child),
    .number-page .tbox2 .NumTable2 thead tr:last-child th:not(:first-child),
    .number-page .tbox2 .NumTable2 tbody tr td:not(:first-child),
    .number-page .tbox3 .NumTable3 thead tr th:not(:first-child),
    .number-page .tbox3 .NumTable3 tbody tr td:not(:first-child){
        border-left: 1px solid #fff;
    }

    .number-page .tbox3{
        position: relative;
    }
    .number-page .tbox3 .NumTable3 input{
        position: absolute; top: -50px; border-radius: 10px; font-size: 18px; box-sizing: border-box;
    }
    .number-page .tbox3 .NumTable3 input:first-of-type{
        width: 188px; border: 1px solid #000; line-height: 30px;
    }
    .number-page .tbox3 .NumTable3 input:last-of-type{
        right: 0; width: 75px; border: 1px solid #0094FF; line-height: 30px;
        background: none;
    }
    .number-page .tbox3 .NumTable3 input:last-of-type:hover{
        background: #0094FF; color: #fff; box-sizing: border-box; 
    }
    .number-page .tbox3 .NumTable3 thead tr th:first-child{
        width: 100px;
    }
    .number-page .tbox3 .NumTable3 thead tr th:last-child{
        width: 170px;
    }
    .number-page .tbox3 .NumTable3 thead tr:first-child{
        border-bottom: 1px solid #fff;
    }
}

@media screen and (min-width: 1280px){

    .number-page{
        margin-top: 90px;
    }
    .number-page [class ^= 'tbox']{
        float: left; box-sizing: border-box;
    }
    .number-page [class ^= 'tbox']:not(:first-child){
        margin-left: 90px; 
    }
    .number-page [class ^='tbox'] tbody tr{
        border-bottom: 1px solid #78C5D6;
    }
    .number-page [class ^= 'tbox'] td{
        font-size: 18px; text-align: center; line-height: 50px;
    }
    .number-page [class ^= 'tbox'] td input{
        border: none;
    }
    .number-page thead tr th{
        background: #78C5D6; line-height: 50px; color: #fff; text-align: center;
        font-size: 22px; box-sizing: border-box;
    }
    .thRadiusL{
        border-radius: 15px 0 0 0;
    }
    .thRadiusR{
        border-radius: 0 15px 0 0;
    }
    .number-page .tbox1{
        margin-right: 15px; position: relative; margin-left: 2%;
    }
    .number-page .PMbtnBox{
        position: absolute; top: 59px; right: -55px;
    }
    .number-page .PMbtnBox input:first-of-type{
        border: 1px solid #0094FF; width: 40px; line-height: 36px; font-size: 18px; box-sizing: border-box;
        background: none; border-radius: 10px; color: #0094FF; margin-bottom: 10px;
    }
    .number-page .PMbtnBox input:first-of-type:hover{
        background: #0094FF; color: #fff; box-sizing: border-box;
    }
    .number-page .PMbtnBox input:last-of-type{
        border: 1px solid #FF0000; width: 40px; line-height: 36px; font-size: 18px; box-sizing: border-box;
        background: none; border-radius: 10px; color: #FF0000; 
    }
    .number-page .PMbtnBox input:last-of-type:hover{
        background: #FF0000; color: #fff; box-sizing: border-box;
    }
    .number-page .tbox1 .NumTable1 thead tr th:first-child{
        max-width: 150px; width: 100%; border-right: 1px solid #fff;
    }
    .number-page .tbox1 .NumTable1 thead tr th:last-child{
        width: 174px;
    }
    .lookup{
        width: 207px; border-right: 1px solid #fff;
    }
    .phoneNum{
        width: 190px;
    }
    .number-page .tbox2{
        position: relative;
    }
    .number-page .tbox2 input{
        position: absolute; top: -50px; right: 0; border: 1px solid #0094FF; width: 109px; height: 40px;
        background: none; border-radius: 15px; font-size: 18px; box-sizing: border-box;
    }
    .number-page .tbox2 input:hover{
        background: #0094FF; color: #fff; box-sizing: border-box;
    }
    .number-page .tbox2 .NumTable2 thead tr th{
        border-bottom: 1px solid #fff;
    }
    .number-page .tbox1 .NumTable1 tbody tr td:not(:first-child),
    .number-page .tbox2 .NumTable2 thead tr:last-child th:not(:first-child),
    .number-page .tbox2 .NumTable2 tbody tr td:not(:first-child),
    .number-page .tbox3 .NumTable3 thead tr th:not(:first-child),
    .number-page .tbox3 .NumTable3 tbody tr td:not(:first-child){
        border-left: 1px solid #fff;
    }

    .number-page .tbox3{
        position: relative;
    }
    .number-page .tbox3 .NumTable3 input{
        position: absolute; top: -50px; border-radius: 10px; font-size: 18px; box-sizing: border-box;
    }
    .number-page .tbox3 .NumTable3 input:first-of-type{
        width: 188px; border: 1px solid #000; line-height: 30px;
    }
    .number-page .tbox3 .NumTable3 input:last-of-type{
        right: 0; width: 75px; border: 1px solid #0094FF; line-height: 30px;
        background: none;
    }
    .number-page .tbox3 .NumTable3 input:last-of-type:hover{
        background: #0094FF; color: #fff; box-sizing: border-box; 
    }
    .number-page .tbox3 .NumTable3 thead tr th:first-child{
        width: 100px;
    }
    .number-page .tbox3 .NumTable3 thead tr th:last-child{
        width: 170px;
    }
    .number-page .tbox3 .NumTable3 thead tr:first-child{
        border-bottom: 1px solid #fff;
    }
}   