section{
    max-width: 1530px; width: 100%; margin: 0 auto;
}
section h2{
    margin-bottom: 20px; font-weight: bold;
}
section div:first-of-type{
    margin-bottom: 8px;
}
section div:nth-of-type(2){
    margin-bottom: 20px;
}
section .idlabel,
section .pwdlabel{
     width: 100px; line-height: 30px; text-align: center; background: #dce9e9;
}
section .idput,
section .pwdput{
    border: none; line-height: 28px; background: #fefeff; box-sizing: border-box;
}
/* section table{
    margin-bottom: 30px;
}
section table tr{
    background-color: rgba(255, 255, 255, 0.5);
}
-
section table tr th{
    background: #dce9e9; text-align: center; color: rgb(88, 88, 88);
    height: 30px;
}
section table tr th:first-child{
    border-radius: 10px 0 0;
}
section table tr th:last-child{
    border-radius: 0 10px 0 0;
}
section table tr td{
    box-sizing: border-box; height: 40px;
    background: #d3d9d5; text-align: center;
} */
section table tr td input{
    border: none; height: 40px; background-color: #fefeff;
}
section > div:nth-of-type(3){
    margin-bottom: 10px;
}
section > div:nth-of-type(3):after{
    display: block; content: ''; visibility: hidden; clear: both;
}
section > div:nth-of-type(3) input{
    display: block; max-width: 980px; width: 100%; margin-bottom: 15px; border: 1px solid #dadde6;
    line-height: 25px; padding: 5px;
}
section > div:nth-of-type(3) .editBox{
    float: left; max-width: 980px; width: 100%; margin-bottom: 15px;
}
section > div:nth-of-type(3) .editBox .toastui-editor-tabs .tab-item{
    margin-top: 12px;
}
section > div:nth-of-type(3) .IDBox{
    float: left; width: 500px; height: 500px; margin-left: 30px; border: 1px solid #333;
}
section > div:last-of-type{
    text-align: center; margin-bottom: 60px;
}
section > div:last-of-type button:first-of-type{
    border: none; border-radius: 5px; width: 7%; line-height: 40px;
    color: #fff; background: #9ca8b5;
}
section > div:last-of-type button:first-of-type:hover{
    background: #7fb5ee;
}
section > div:last-of-type button:last-of-type{
    margin-left: 10px; border: 1px solid #d2d2d2; width: 5%; line-height: 38px; box-sizing: border-box;
    color:#666; border-radius: 5px;
}

